<%- include('partials/header'); -%>


<section class="section" id="about">
    <div class="container " style="text-align: center; color:red;">
        <h3> Enjoy Reading </h3>

        
    </div>
    <div class="features-icon" style="margin: 5%;">
        <h3 style="margin-bottom: 5%;"><%- experience.title %></h3>
        <img src="<%- experience.image %>" alt="" width="30%" height="30%">
        <h5 style="margin-top: 5%;"><%- experience.description %></h5>
    </div>
</section>

<%- include('partials/footer'); -%> 


